
$gris-noir: #353535;
$gris:#7E7E7E;
$blanc: white;
$vert-clair: #99E2D0;
$vert-fonce: #008766;
$bleu-clair: #89C8FA;
$bleu-marine: #003A68;
$violet: #9356DC;
$Rose: #FF79DA;;
$main-bg-color: #F3F3F3;
$form-bg-color: #EAEAEA;
$main-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.15);
$font-family_1: 'Roboto', sans-serif;
$font-family_2: 'Shrikhand', cursive;


@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}


/******général*****/


* {
	padding: 0;
	margin: 0;
	font-family: $font-family_1;
}
body {
	margin: 0 10px 0 10px;
	box-sizing: border-box;
}
h1 {
	font-family: $font-family_2;
}
.title {
	font-weight: 700;
}
.icone-black {
	color: $gris-noir;
}

.icone-purple {
    color:$violet;
}

.icone-gray {
    color: $gris;
}

.btn {
	padding: 13px 19px 13px 19px;
	border-radius: 25px;
	background-image: linear-gradient($Rose , $violet );
	color: $blanc;
	box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
	border: none;
	font-weight: 500;
	transition: opacity 200ms ease-in-out;
	&:hover {
		opacity: 0.8;
	}
}

.card {
	border-radius: 15px;

		img {
	object-fit: cover;
	}
}


/******Header*****/


header {
	h1 {
        display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 63px;
		box-shadow: $main-box-shadow
	}
	.formulaire_localisation {
		justify-content: center;
		align-items: center;
		width: 100%;
	}
}
Header {
	.formulaire_localisation {
		display: flex;
		background-color: $form-bg-color;
		height: 50px;
	}
}
form {
	input[type=text] {
		border: none;
		background-color: $form-bg-color;
		width: 125px;
	}
}
::placeholder {
	text-align: center;
	color: $gris-noir;
	font-weight: 500;


/******Réserver*****/


}
.Réservez {
	background-color: $main-bg-color;
	padding: 50px;

	h2 {
		text-align: center;
		padding-bottom: 30px;
		flex-wrap: wrap;
		margin-left: 42px;
		margin-right: 58px;
	}

	p {
		
		text-align: center;
		flex-wrap: wrap;
		margin: 0 26px 20px 34px;
		font-weight: 300;
		color: $gris-noir;
	}

	.bouton {
		text-align: center;
	}
}

/******Fonctionnement*****/

.Fonctionnement {
    margin:10px;
	padding-bottom: 20px;

	h2 {
		margin:30px 0 20px 5px;
	}

}

.Fonctionnement--liste {
    display: flex;
    flex-direction: column;

    
  }

.Fonctionnement--liste__box {
     @include flex-center;
     flex-direction: row;
     border: none;
     border-radius: 20px;
     height: 72px;
     width: auto;
     margin-bottom: 25px;
     box-shadow: $main-box-shadow;
     position: relative;
	 background-color: #f6f6f6;

     .numéro {
		@include flex-center;
        position: absolute;
        left: -12px;
        border:none;
        border-radius: 24px;
        background-color: $violet;
        color:$blanc;
        width:24px;
        height: 24px;
    }

    i {
        margin-right: 20px;
    }

}

/******Réstaurant*****/



.restaurants {
	padding-bottom:50px ;

	h2{
		margin-bottom: 20px;
	}
}


.restaurants-card {

	a{
		text-decoration-line: none;
		color: black;
	}

	.card {
		width:100%;
		box-shadow: $main-box-shadow;
		border-radius: 15px;
		margin-bottom: 20px;
		position: relative;
	}

	.card-content {
		display: flex;
		flex-direction: column;
		height: 251px;



		img {
			width: 100%;
			height: 70%;
			border-radius: 15px 15px 0 0;
		}

		.card-txt {
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			margin-left: 9px;
		}

		.card-title {
			padding:7px 0 5px 0;
		}
	}


	

	.Like {
		position: absolute;
		bottom: 25px;
		right: 25px;
		font-size: 2em;	
		transition: all 0.2s ease-in-out;
		}
	

	input[type=checkbox]{
		display: none;
		position: absolute;
		bottom: 25px;
		right: 25px;

		&:checked + .Like {
			font-weight: bolder;
			color: transparent;
			background-clip: text;
			-webkit-background-clip: text;
			background-image: linear-gradient($violet,$Rose);
			scale: 1.1;
		}
	}

	.new {
		border: transparent;
		border-radius: 2px;
		background-color: $vert-clair;
		color: $vert-fonce;
		position: absolute;
		top:14px;
		right: 14px;
		padding: 6px;
		box-shadow: $main-box-shadow;
		font-weight: 500;
	}
}


/******Footer*****/

Footer {
	background: $gris-noir;

	p,
	i,
	h3 {
		color: white;
		margin-bottom: 7px;
		margin-right: 7px;
	}

	h3 {
		font-family: $font-family_2;
		font-weight: 400;
		padding:20px 10px 10px 20px;
	}
}
.footer-direction {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	text-align:start;

}

.icone-texte {
	display: flex;
	flex-direction: row;
}

.fa-utensils {
	margin-right: 12px;
}