$gris-noir: #353535;
$gris:#7E7E7E;
$blanc: white;
$vert-clair: #99E2D0;
$vert-fonce: #008766;
$bleu-clair: #89C8FA;
$bleu-marine: #003A68;
$violet: #9356DC;
$Rose: #FF79DA;;
$main-bg-color: #F3F3F3;
$form-bg-color: #EAEAEA;
$main-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.15);
$font-family_1: 'Roboto', sans-serif;
$font-family_2: 'Shrikhand', cursive;


@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}


/******général*****/


* {
	padding: 0;
	margin: 0;
	font-family: $font-family_1;
}
body {
	margin: 0 10px 0 10px;
	box-sizing: border-box;
}
h1 {
	font-family: $font-family_2;
}
.title {
	font-weight: 700;
}
.icone-black {
	color: $gris-noir;
}

.icone-purple {
    color:$violet;
}

.icone-gray {
    color: $gris;
}

.btn {
	padding: 13px 19px 13px 19px;
	border-radius: 25px;
	width: 186px;
	background-image: linear-gradient($Rose , $violet );
	color: $blanc;
	box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
	border: none;
	font-weight: 500;
	transition: all 200ms ease-in-out;
	&:hover {
		opacity: 0.8;
		scale: 1.05;
	}
}

.card {
	border-radius: 15px;
	box-shadow: $main-box-shadow;
	background-color: white;
	margin-bottom: 15px;

}

img {
	object-fit: cover;
	}

@keyframes apparition {
	0% {
		opacity: 0;
	  }
	100% {
		opacity: 1;
	  }
}


/******Header*****/


header {
	position: relative;
	h1 {
        display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 63px;
	}

	nav {
		position: absolute;
		top: 20px;
		left: 30px;
	}
}



/******Image du restaurants*****/

.img-restaurants {
	img {
		width: 100%;
		height: 275px;
	}
}



/******menu*****/

.menu {
	position:relative;
	top:-50px;
	z-index: 1;
	border-radius:40px 40px 0 0 ;
	background-color: #F6F6F6;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
}

.titre-restaurant{
	display: flex;
	justify-content: center;
	gap:20px;
}
.Like {
	margin-top: 4px;
	justify-self: center;
	font-size: 2em;	
	transition: all 0.2s ease-in-out;
	}


input[type=checkbox]{
	display: none;


	&:checked + .Like {
		font-weight: bolder;
		color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
		background-image: linear-gradient($violet,$Rose);
		scale: 1.1;
	}
}


.entrée,
.plat,
.dessert {



	h3 {
		position: relative;
		font-weight: 300;
		padding-bottom: 20px;
	}


	h3::after {
		content: "";
		position: absolute;
		bottom: 18px;
		left: 0;
		width: 40px;
		border-bottom:2px solid $vert-clair;

		article {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}
		
	}
}



.card {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row-reverse;
	box-sizing: border-box;
	height: 69px;
	opacity: 0;
	animation: apparition 1s ease-in-out forwards;
	overflow: hidden;

	&:hover > .card-check{
		width: 20%;
		transform: scaleX(1);
	}

	&:hover > .card-content{
		width: 80%;
	}

 
	.card-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		border-radius: 0 15px 15px 0 ;
		width: 100%;
		transform: scaleX(1);
		transform-origin: left;
		transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);

		h4,
		p.description {
			text-overflow: ellipsis;
  			overflow: hidden;
  			white-space: nowrap;
			margin-left: 15px;
			width: 100%;
		}

		h4 {
			margin-bottom: 9px;
		}

		.card-txt {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 95%
		}
}
	.card-check {
		@include flex-center;
		background-color: $vert-clair;
		border-radius: 0 15px 15px 0;
		width: 0;
		transform: scaleX(0);
		transform-origin: right;
		transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		


		.check{
			@include flex-center;
			
			border-radius: 50%;
			background-color: white;
			border: transparent;
			padding: 6px 5px 5px 5px;
			color: $vert-clair;
			
		}
	}


	
}

.entrée {

	
	.card:nth-of-type(1) {
		animation-delay: 0.5s;
	  }
	  
	.card:nth-of-type(2) {
		animation-delay: 1s;
	  }
	  
	.card:nth-of-type(3) {
		animation-delay: 1.5s;
	  }

	.card:nth-of-type(4) {
		animation-delay: 2s;
	  }
}

.plat {
	
	.card:nth-of-type(1) {
		animation-delay: 2.5s;
	  }
	  
	.card:nth-of-type(2) {
		animation-delay: 3s;
	  }
	  
	.card:nth-of-type(3) {
		animation-delay: 3.5s;
	  }
}

.dessert {
	
	.card:nth-of-type(1) {
		animation-delay: 4s;
	  }
	  
	.card:nth-of-type(2) {
		animation-delay: 4.5s;
	  }
	  
	.card:nth-of-type(3) {
		animation-delay: 5s;
	  }
}
/******bouton*****/

.bouton {
	@include flex-center();
	background-color:#F6F6F6 ;
	margin-top: -50px;
	padding: 10px;
	margin-bottom: 20px;
}
/******Footer*****/

Footer {
	background: $gris-noir;

	p,
	i,
	h3,
	a {
		color: white;
		margin-bottom: 7px;
		margin-right: 7px;
	}

	h3 {
		font-family: $font-family_2;
		font-weight: 400;
		padding:20px 10px 10px 20px;
	}

	a {
		text-decoration: none;
	}
}
.footer-direction {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	text-align:start;

}

.icone-texte {
	display: flex;
	flex-direction: row;
}

.fa-utensils {
	margin-right: 12px;
}


/***Desktop***/

@media (min-width: 768px) {

	.menu {
		left:10%;
		width:80%;

		h1 {
			display: flex;
			justify-content: center;
			margin-bottom: 50px;
		}
	}

	.entrée,
	.plat,
	.dessert {
		margin: 0 150px 0 150px;
	}





	/***footer***/
	

	.footer-direction {

		flex-direction: row-reverse;
		align-items: center;
		justify-content: flex-start;
		height: 114px;

		h3{
			margin-left:40px;
		}	
	} 

	.desktop-footer {
		display: flex;
		flex-direction: row;
		gap:20px;
	}
}
