@charset "UTF-8";
/******Keyframes*****/
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    border-top-color: #99E2D0;
  }
  50% {
    border-top-color: #008766;
    border-bottom-color: #FF79DA;
  }
  75% {
    border-top-color: #9356DC;
    border-bottom-color: #99E2D0;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disparition {
  0% {
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes bond {
  0% {
    transform: translateY(0) rotateX(0);
  }
  25% {
    transform: translateY(-12.5px) rotateX(30deg);
    color: #FF79DA;
  }
  50% {
    transform: translateY(-25px) rotateX(60deg);
    color: white;
  }
  75% {
    color: #9356DC;
  }
  100% {
    transform: translateY(0) rotateX(0);
  }
}
/******général*****/
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
}
body section {
  margin: 0 10px 0 10px;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.title {
  font-weight: 700;
}

.icone-black {
  color: #353535;
}

.icone-purple {
  color: #9356DC;
}

.icone-gray {
  color: #7E7E7E;
}

.btn {
  padding: 13px 19px 13px 19px;
  border-radius: 25px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
  border: none;
  font-weight: 500;
  transition: all 200ms ease-in-out;
}
.btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.card {
  position: relative;
  border-radius: 15px;
  transition: all 0.2s ease;
}
.card:hover {
  transform: scale(1.03);
}
.card img {
  object-fit: cover;
}

/******loader*****/
.loader-page {
  display: flex;
  position: absolute;
  justify-content: center;
  z-index: 2;
  height: 100vh;
  width: 100%;
  background-color: #F3F3F3;
  box-sizing: border-box;
  animation: disparition 3s forwards;
}

.loader {
  display: flex;
  position: absolute;
  border: 7px solid;
  width: 100px;
  height: 100px;
  top: 150px;
  border-top-color: #FF79DA;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  animation: loader 3s ease-in-out infinite;
}

.chargement ul {
  position: relative;
  top: 320px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  list-style: none;
}

.chargement li {
  font-size: 2em;
  animation: bond 1.2s cubic-bezier(0.25, 0.5, 0.45, 0.95) infinite;
}

li:nth-child(1) {
  animation-delay: 0s;
}

li:nth-child(2) {
  animation-delay: 50ms;
}

li:nth-child(3) {
  animation-delay: 100ms;
}

li:nth-child(4) {
  animation-delay: 150ms;
}

li:nth-child(5) {
  animation-delay: 300ms;
}

li:nth-child(6) {
  animation-delay: 350ms;
}

li:nth-child(7) {
  animation-delay: 400ms;
}

li:nth-child(8) {
  animation-delay: 450ms;
}

li:nth-child(9) {
  animation-delay: 500ms;
}

li:nth-child(10) {
  animation-delay: 550ms;
}

/******Header*****/
header h1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header .formulaire_localisation {
  justify-content: center;
  align-items: center;
  width: 100%;
}

Header .formulaire_localisation {
  display: flex;
  background-color: #EAEAEA;
  height: 50px;
}

form input[type=text] {
  border: none;
  background-color: #EAEAEA;
  width: 125px;
}

::placeholder {
  text-align: center;
  color: #353535;
  font-weight: 500;
  /******Réserver*****/
}

.Réservez {
  background-color: #F3F3F3;
  padding: 50px;
}
.Réservez h2 {
  text-align: center;
  padding-bottom: 30px;
  flex-wrap: wrap;
  margin-right: 58px;
  width: 100%;
}
.Réservez p {
  text-align: center;
  flex-wrap: wrap;
  margin: 0 26px 20px 0;
  font-weight: 300;
  color: #353535;
  width: 100%;
}
.Réservez .bouton {
  text-align: center;
}

/******Fonctionnement*****/
.Fonctionnement {
  margin: 10px;
  padding-bottom: 20px;
}
.Fonctionnement h2 {
  margin: 30px 0 20px 5px;
}

.Fonctionnement--liste {
  display: flex;
  flex-direction: column;
}

.Fonctionnement--liste__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: none;
  border-radius: 20px;
  height: 72px;
  width: auto;
  margin-bottom: 25px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  background-color: #f6f6f6;
}
.Fonctionnement--liste__box .numéro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  border: none;
  border-radius: 24px;
  background-color: #9356DC;
  color: white;
  width: 24px;
  height: 24px;
}
.Fonctionnement--liste__box i {
  margin-right: 20px;
}

/******Réstaurant*****/
.restaurants {
  padding-bottom: 50px;
}
.restaurants h2 {
  margin-bottom: 20px;
}

.restaurants-card a {
  text-decoration-line: none;
  color: black;
}
.restaurants-card .card {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  margin-bottom: 20px;
  position: relative;
  transition: all 0.5s ease;
}
.restaurants-card .card:hover {
  box-shadow: 0px 7px 14px 6px rgba(4, 3, 3, 0.25);
}
.restaurants-card .card-content {
  display: flex;
  flex-direction: column;
  height: 251px;
}
.restaurants-card .card-content img {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
}
.restaurants-card .card-content .card-txt {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 9px;
}
.restaurants-card .card-content .card-title {
  padding: 7px 0 5px 0;
}
.restaurants-card .Like {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 2em;
  transition: all 0.2s ease-in-out;
}
.restaurants-card input[type=checkbox] {
  display: none;
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.restaurants-card input[type=checkbox]:hover + .Like {
  font-weight: bolder;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  transform: scale(1.1);
}
.restaurants-card .new {
  border: transparent;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

/******Footer*****/
Footer {
  background: #353535;
}
Footer p,
Footer i,
Footer h3,
Footer a {
  color: white;
  margin-bottom: 7px;
  margin-right: 7px;
}
Footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  padding: 20px 10px 10px 20px;
}
Footer a {
  text-decoration: none;
}

.footer-direction {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  text-align: start;
}

.icone-texte {
  display: flex;
  flex-direction: row;
}

.fa-utensils {
  margin-right: 12px;
}

/*****Desktop****/
@media (min-width: 768px) {
  /***Fonctionnement***/
  .Fonctionnement {
    margin-left: 20%;
    margin-right: 20%;
  }
  .Fonctionnement h2 {
    display: flex;
    justify-content: flex-start;
  }
  .Fonctionnement--liste {
    flex-direction: row;
    width: 100%;
    gap: 20px;
    justify-content: flex-start;
  }
  .Fonctionnement--liste__box {
    width: 31%;
    font-weight: 500;
  }
  /***Restaurants***/
  .restaurants {
    padding-top: 40px;
    background-color: #f6f6f6;
    width: 100%;
  }
  .restaurants h2 {
    margin-bottom: 50px;
    margin-left: 20%;
  }
  .desktop-restaurants {
    gap: 75px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
  }
  /***footer***/
  .footer-direction {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    height: 114px;
  }
  .footer-direction h3 {
    margin-left: 40px;
  }
  .desktop-footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

/*# sourceMappingURL=Style-index.css.map */
